{% extends 'base.html' %}

{% block title %} assignment9 {% endblock %}

{% block mainContent %}
    <div class="searchForm">
    <h3> Search Form</h3>
        <form action="/assignment9" >
            <hr>
            Name: <input name= "user_name" type="text">
            Email: <input name= "email" type="email">
            Phone number: <input name= "phone" type="number">
            Gender: <input name= "gender" type="text">
            <input name = "submit_info" value="search" type="submit">
        </form>
        {% if u_name %}
            <h3> User Name: {{ u_name }}</h3>
            <h3> Email: {{ u_email }}</h3>
            <h3> Phone number: {{ u_phone }}</h3>
            <h3> Gender: {{ u_gender }}</h3>
        {% endif %}
        {% if all_users %}
            <h3> Try and search from the following users: </h3>
            {% for key,value in all_users.items() %}
                    <ul>
                        <li> {{ key }}, {{ value }}</li>
                    </ul>
            {% endfor %}
        {% endif %}
    </div>

     <div class="registrationForm">

     {% if session.nick_name %}
         <h3> Welcome {{ session.nick_name | default('geust',true) }} !</h3>
     {% else %}
         <h3> Registration Form </h3>
         <form action="/assignment9" method="post">
            User Name: <input name= "nickName" type="text">
            Password: <input name= "password" type="password">
            <input name = "submit_reg" value="Register" type="submit">
        </form>
     {% endif %}

    </div>
{% endblock %}