<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV Orit EX6</title>
    <link rel="stylesheet" href={{url_for('static', filename = 'CV.css') }}>
    <script src={{ url_for('static', filename = 'CV.js') }}></script>
</head>
<body>
{% include 'header.html' %}
<h3> Welcome back {{ session.nick_name | default('geust', true) }}</h3>
<div class="header">
        Orit Rabani <br>
    <a href='/CVcontact'>Contact Me</a>
    </div>

    <div class="about">
        Fourth year IEM student at BGU.
    </div>

    <div class="education">
        <h3> Education </h3>
        2018 - TODAY <br>
        Bsc. in Industrial Engineering and management
    </div>

    <div class="languages">
        <h3> Languages</h3>
        Fluent in English and Hebrew
    </div>
    <div class="rotatingPic">
        <img src={{ url_for('static', filename = 'Images/smile.jfif') }} id="ImageRotate">
    </div>

</body>
</html>